elpa
tramp
transient
.cache
.last-package-update-day
projectile-bookmarks.eld
elpy
auto-save-list
bookmarks
recentf
.org-id-locations
ac-comphist.dat
diary.org
.lsp-session-v1
.#recentf
*.el
!init.el
bm-repository
pyim
.dap-breakpoints
