init.el
basic.el
elpa
emacs.el
functions.el
publish.el
tramp
transient
.cache
.last-package-update-day
projectile-bookmarks.eld
elpy
auto-save-list
bookmarks
recentf
.org-id-locations
ac-comphist.dat
diary.org
